
<div class="container">
	<div class="row">
		<div class="col-lg-3">
			<h1>検索条件</h1>
			<%= form_tag('/search', method: :get) do %>

				<%= label(:value, "データ量" ) %><br>
				<%= select_tag :value, options_for_select([['指定無し', 0], ['1GB', 1], ['2GB', 2], ['3GB', 3], ['5GB', 5],['9GB', 9], ['20GB', 20]]) %>
				<br>

				<%= label(:mobile_phone, "端末") %> <br>
				<%= select_tag :mobile_phone, options_for_select(['無し']) %>
				<br>

				<%= submit_tag("検索") %>
			<% end %>
		</div>