<%= render 'phones/header' %>
<%= render 'phones/form' %>

<div class="col-lg-9">
	<h1> 検索結果</h1>
	<table class="table table-striped">
		<tr>
			<th width="10%">キャリア</th>
			<th width="20%">プラン</th>
			<th width="20%">料金 </th>
			<th width="20%">データ量</th>
		</tr>
		<% @plans.zip(@total_costs).each do |plan, total_cost| %>
			<% if total_cost[:cost] <= @search_max_cost && total_cost[:cost] >= @search_min_cost %>
				<tr>
				    <td><%= plan.career.name %></td>
					<% if total_cost[:name] == "" %>
						<td><%= plan.name + "(通話オプション無し)" %></td>
					<% else %>
						<td><%= plan.name + "+" + total_cost[:name] %></td>
					<% end %>
					<td><%= total_cost[:cost] %>円/月</td>
					<td><%= plan.value %>GB/月</td>
				</tr>
			<% end %>
		<% end %>
	</table>

</div>
</div>
</div>