<%= render 'phones/header' %>
<%= render 'phones/form' %>

<div class="col-lg-10">
	<h1> 検索結果</h1>
	家族の人数
	<%= @number_of_family %>人
	<table class="table table-striped">
		<tr>
			<th width="10%">キャリア</th>
			<th width="20%">プラン</th>
			<th width="20%">料金 </th>
			<th width="20%">データ量</th>
		</tr>
		<% @plans.zip(@total_costs).each do |plan, total_cost| %>
			<tr>
				<td><%= plan.career.name %></td>
				<td><%= plan.name + "+" + total_cost[:name]%></td>
				<td><%= total_cost[:cost] %>円/月</td>
				<td><%= plan.value %>GB/月</td>
			</tr>
		<% end %>
	</table>

</div>
</div>
</div>