<%= render 'phones/header' %>
<%= render 'phones/form' %>

<div class="col-lg-9">
	<h1> 詳細</h1>
	<table class="table table-striped" border="2">
		<tr>
			<th>キャリア</th>
			<td><%= Career.find_by(id: @total[:career_id]).name %></td>
		</tr>
		<tr>
			<th>データプラン</th>
			<td><%= @total[:data_name] %></td>
		</tr>
		<tr>
			<th>通話プラン</th>
			<td><%= @total[:call_name] %></td>
		</tr>
		<tr>
			<th>端末</th>
			<td><%= @total[:phone_name] %></td>
		</tr>
		<tr>
			<th>割引</th>
			<td>割引の名前</td>
		</tr>
	</table>
	<h1> 内訳</h1>
		<table class="table table-striped" border="2">
		<tr>
			<th>データプラン</th>
			<td><%= @total[:data_name] %></td>
			<td><%= @total[:data_cost] %> 円/月</td>
		</tr>
		<tr>
			<th>通話プラン</th>
			<td><%= @total[:call_name] %></td>
			<td><%= @total[:call_cost] %> 円/月</td>
		</tr>
		<tr>
			<th>端末代</th>
			<td><%= @total[:phone_name] %></td>
			<td><%= @total[:phone_cost] %> 円/月(24回)</td>
		</tr>
		<tr>
			<th>割引</th>
			<td>割引の名前</td>
			<td>割引額</td>
		</tr>
		<tr>
			<th>合計</th>
			<th></th>
			<td><%= @total[:data_cost].to_i + @total[:call_cost].to_i + @total[:phone_cost].to_i %> 円/月</td>
		</tr>
	</table>
</div>
</div>
</div>